<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name="Description" content="Turn Based Strategy Game">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="game, creatures, battle">
		<meta name="author" content="Dread Knight">
		<meta name="monetization" content="$pay.stronghold.co/1a15c4d9d46cdd64f9e9094a7c4f04240dc">
		<meta name="theme-color" content="black">
		<link rel="manifest" href="manifest.json">
		<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
		<title>Ancient Beast <%= require('./utility/version').pretty %></title>
		<style>
			.scrim.loading {
			opacity: 1;
			}
			.scrim {
			height: 100%;
			width: 100%;
			background-color: black;
			position: absolute;
			top: 0;
			left: 0;
			transition: opacity 0.5s ease-in;
			opacity: 0;
			z-index: 666;
			}
		</style>
	</head>
	<body oncontextmenu="return false;" id="AncientBeast">
		<div class="scrim loading"></div>
		<div id="matchMaking">
			<div id="loader" class="hide">
				<img src="<%= require('assets/interface/AB.gif') %>" width="32" height="32" loading="lazy">Loading
				<div id="barLoader">
					<span class="progress"></span>
				</div>
			</div>
			<div id="gameSetupContainer">
				<div id="gameTitle">
					<div></div>
				</div>
				<div id="websiteButton">
					<a href="https://AncientBeast.com" tabindex="-1" target="_blank" rel="noopener">
						<div></div>
						<span>Ancient<br>Beast</span>
					</a>
				</div>
				<div id="contribute">
					<a href="https://discord.gg/x78rKen" target="_blank" title="Join us on Discord" rel="noopener">
						<div></div>
					</a>
				</div>
				<%= require('./templates/pre-match.html').default %>
				<div id="version">
					<a href="https://play.AncientBeast.com" title="Switch to stable" tabindex="-1">
						<div></div>
						<%= require('./utility/version').pretty %>
					</a>
				</div>
				<div id="discord">
					<a href="https://discord.gg/x78rKen" title="Join us on Discord" target="_blank" tabindex="-1" rel="noopener">
						<div></div>
						Discord
					</a>
				</div>
			</div>
		</div>
		<div id="ui">
			<%
				const cardMargin = require('assets/cards/margin.png');
				const musicDirectory = require('./assets.ts').getDirectory('music');
				const musicGenresMarkup = musicDirectory
					.map((musicGenre) => `\t\t\t\t\t\t\t\t\t<span class="musicgenres__title" id="genre-${musicGenre.id}">${musicGenre.id}</span>`)
					.join('\n');
				const musicPlaylistMarkup = musicDirectory
					.map((musicGenre) =>
						musicGenre.children
							.map(
								(track) =>
									`\t\t\t\t\t\t\t\t<li class="${musicGenre.id}"><a href="${track.url}">${track.id}</a></li>`,
							)
							.join('\n'),
					)
					.filter((markup) => markup.length > 0)
					.join('\n');
			%>
			<%= require('./templates/scoreboard.html').default %>
			<%= require('./templates/dashboard.html').default.replace(/__CARD_MARGIN__/g, cardMargin) %>
			<%= require('./templates/musicplayer.html').default.replace('__MUSIC_GENRES__', musicGenresMarkup).replace('__MUSIC_PLAYLIST__', musicPlaylistMarkup) %>
			<%= require('./templates/interface.html').default %>
		</div>
		<div id="banner"></div>
		<div id="combatwrapper">
		</div>
		<div id="orientation-message">
			<div class="framed-modal__return">
				<div class="close-button"></div>
			</div>
			<div class="rotate-icon"></div>
			<p>Please rotate your device to<br>landscape mode</p>
		</div>
		<% if (htmlWebpackPlugin.options.enableServiceWorker) { %>
			<%= require('./templates/service_worker.html').default %>
		<% } %>
	</body>
</html>
